{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}

<div class="section">

    <table class="table-active table table-hover">
        <thead>
            <tr>
                <th scope="col">Project Name</th>
                <th scope="col">Files</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects_list %}

             <tr>
                <td><a href="{{ url_for('project', project_name=project.project_name) }}">{{ project.project_name }}</a></td>
                <td> {{ project.file_count }} </td>
                <td> {{ project.upload_date }} </td>
             </tr>
             {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}
