{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<div class="section">

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Stock Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for event in history %}

             <tr>
                <td> {{ event.symbol }} </td>
                <td> {{ event.shares }} </td>
                <td> {{ event.price | usd}} </td>
                <td> {{ event.created_at }} </td>
             </tr>
             {% endfor %}
        </tbody>
    </table>


</div>





{% endblock %}
